<section class="grid-spaceBetween">
    <div class="col-2-middle bg-logo padded">
    </div>
    <nav class="col-7 text-right featured-text font-weight-light navigation uppercase">
        <a href="index.html" class="navigation">Home</a>
        <a href="about.html" class="navigation">About</a>
        <a href="/gallery.html">Gallery</a>
        <a href="contact.html"class="navigation">Contact</a>
    </nav>
</section>



    <div class="col-1 mob-show">
        <div class="hamburger-button" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <i class="fas fa-bars"></i>
        </div>
    </div>
 </div>
 <nav class="mobile-menu bg-featured padded">
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/products.html">Products</a>
    <a href="/gallery.html">Gallery</a>
    <a href="/contact.html">Contact</a>
 </nav>